<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading">
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non beatae voluptatum necessitatibus recusandae nemo, officiis ad dignissimos, laborum exercitationem maiores repellat neque quam dolore, provident adipisci dolorem qui. Harum, possimus?
                Officiis, sint, iste fuga facilis quasi adipisci architecto at tempora soluta, mollitia cum maiores beatae deleniti error consequatur eum neque ipsa. Distinctio voluptas velit rem tenetur quisquam fugit, nulla tempora.
                Repellat quaerat illum natus repudiandae sed sit, reiciendis, iusto officia, possimus rem dignissimos mollitia corporis fugit earum? Est autem saepe aliquam iure, debitis possimus similique ipsum praesentium vitae maiores esse!
                </h2>
            </div>
  
            <!--Call to Action-->
            <a href="#" class="button">START CREATING TODAY</a>
            <!--End Call to Action-->
  
        </div>
      
        <!-- <div class="banner col-38">
            <img src="../assets/images/banner-images/banner-image-1.jpg" alt="banner-image"/>
        </div> -->
    </div><!--End of Row-->
  </header>