 <!--Testimonials-->
 <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{testimonial.title}}</h3>
            <h2 class="section-title">{{testimonial.description}}</h2>
        </div>

        <!--User Testimonial-->
        @for(iconBlock of testimonial.iconBlock; track iconBlock){
        <blockquote class="col-3 testimonial classic">
            <img src={{iconBlock.img}} alt="User"/>
            <q>{{iconBlock.name}}</q>
            <footer>{{iconBlock.footer}}</footer>
        </blockquote>
    }
        <!-- End of Testimonial-->

      

    </div>

</aside>
<!--End of Testimonials-->